In [77]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [78]:
# Ford
## Texas Data
df_TX_1 = pd.read_csv('Ford_TX.csv')
df_TX_1['state'] = 'TX'
df_TX_2 = pd.read_csv('Ford_TX2.csv')
df_TX_2['state'] = 'TX'
## NY Data
df_NY_1 = pd.read_csv('Ford_NY_1.csv')
df_NY_1['state'] = 'NY'
df_NY_2 = pd.read_csv('Ford_NY_2.csv')
df_NY_2['state'] = 'NY'
## California Data

### Merging/Cleaning all data

In [79]:
df = pd.concat([df_TX_1,df_TX_2,df_NY_1,df_NY_2],axis=0).reset_index(drop=True)
df.shape

(1306, 14)

In [80]:
df.drop('Unnamed: 0', axis=1 , inplace=True)
df.head()

,car_mileage,car_price,car_mpg,car_model_year,car_model,car_make,car_color,car_transmission,car_engine_size,car_horse_power,car_engine_cylinder,car_msrp_price,state
0,93K miles,"$13,998*",['22/33 mpg'],2015,Fusion Titanium,Ford,Red,Automatic,2.0,240.0,4.0,30800.0,TX
1,115K miles,"$36,998*",['12/17 mpg'],2015,F250 XLT,Ford,Silver,Automatic,6.7,400.0,8.0,38300.0,TX
2,35K miles,"$20,998*",['19/27 mpg'],2018,Transit Connect XLT,Ford,Gray,Automatic,2.5,169.0,4.0,28000.0,TX
3,7K miles,N/A*,['22/28 mpg'],2017,Escape Titanium,Ford,Black,Automatic,1.5,179.0,4.0,31000.0,TX
4,44K miles,"$25,998*",['18/23 mpg'],2015,F150 XL,Ford,Red,Automatic,2.7,325.0,6.0,33600.0,TX

In [81]:
#Clean/Convert car_mileage to float number
df["car_mileage"] = df["car_mileage"].str.split("K").str[0].astype('float')*1000

In [82]:
# Clean/Convert car_price to float number
df['car_price'] = df['car_price'].str.replace("$","").str.replace("*","").str.replace(",","").str.replace("N/A",'0').astype('float')
#df_final = df_final[(df_final['car_price'] != 'N/A') | (df_final['car_price'] != 'NaN') | (df_final['car_price'] != np.nan)].astype('float')
df.loc[df['car_price']==0] = np.nan
df.shape

(1306, 13)

In [83]:
# dropping the null columns in car_prices
df = df[pd.notnull(df['car_price'])]
df.shape

(1136, 13)

In [84]:
# Separating the Car model and car make
df[['car_model','Trim']] = df['car_model'].str.split(" ",1,expand=True)

In [85]:
# Clean and separate city/highway MPG
df['car_mpg'] = df['car_mpg'].str.replace("[","").str.replace("'","").str.replace("]","").str.replace(" mpg","").str.replace('nan','0/0')
df[['City_MPG','Highway_MGP']] = df['car_mpg'].str.split("/",expand=True)
df.drop('car_mpg',axis=1,inplace=True)

In [87]:
# Creating two new columns
df['car_age'] = 2021 - df['car_model_year']
df['Depreciation'] = df['car_msrp_price']-df['car_price']

In [88]:
df

,car_mileage,car_price,car_model_year,car_model,car_make,car_color,car_transmission,car_engine_size,car_horse_power,car_engine_cylinder,car_msrp_price,state,Trim,City_MPG,Highway_MGP,car_age,Depreciation
0,93000.0,13998.0,2015.0,Fusion,Ford,Red,Automatic,2.0,240.0,4.0,30800.0,TX,Titanium,22,33,6.0,16802.0
1,115000.0,36998.0,2015.0,F250,Ford,Silver,Automatic,6.7,400.0,8.0,38300.0,TX,XLT,12,17,6.0,1302.0
2,35000.0,20998.0,2018.0,Transit,Ford,Gray,Automatic,2.5,169.0,4.0,28000.0,TX,Connect XLT,19,27,3.0,7002.0
4,44000.0,25998.0,2015.0,F150,Ford,Red,Automatic,2.7,325.0,6.0,33600.0,TX,XL,18,23,6.0,7602.0
5,46000.0,22998.0,2017.0,Edge,Ford,Silver,Automatic,3.5,280.0,6.0,37600.0,TX,Titanium,17,24,4.0,14602.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1301,94000.0,8998.0,2014.0,Focus,Ford,Red,Manual 5 Speed,2.0,160.0,4.0,18700.0,NY,SE,26,36,7.0,9702.0
1302,75000.0,18998.0,2017.0,Mustang,Ford,Gray,Automatic,3.7,300.0,6.0,25200.0,NY,,18,27,4.0,6202.0
1303,33000.0,40998.0,2020.0,F150,Ford,Brown,Automatic,5.0,NaN,NaN,38800.0,NY,Lariat,0,0,1.0,-2198.0
1304,81000.0,13998.0,2013.0,Escape,Ford,Black,Automatic,2.0,231.0,4.0,30400.0,NY,Titanium,22,30,8.0,16402.0
1305,24000.0,32998.0,2020.0,F150,Ford,Gray,Automatic,5.0,NaN,8.0,35300.0,NY,XLT,0,0,1.0,2302.0